:root {
--main-color:#434455;
--primary-color: #2E2F42;
--secondory-color: #F4F4FD;
--secondary-font-color:#FFFFFF;
--accent-color: #4D5AE5;
--hover-color:#404BBF;
--footer-text:#E7E9FC;

}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}

 button {
  cursor: pointer;
 }

 address {
  font-style: normal;
 }


body {
font-family: 'Roboto', sans-serif;
color:var(--primary-color);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

address {
  font:inherit;
}

.link {
text-decoration: none;
color: inherit;
font: inherit;
}

.list {
list-style: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*-------------HEADER--------------- */

.header {
  background-color: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 24px;

}

.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {}

.accent {
  color:var(--accent-color);
}

.accent-logo {
  color: var(--secondory-color);
}

.logo {
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-list {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
}

.header-item :is(:hover, :focus){
 color: var(--hover-color);
}
.header-item:not(:last-child) {
margin-right: 40px;
}


.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}


.header-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
}


.header-address-link:is(:hover,:focus){
  color:var(--hover-color);
}

.header-address-link {
  margin-right: 40px;
}

.header-address-list {
  display: flex;
  align-items: center;
}

/*----------MAIN--------*/

.hero {
  background: var(--primary-color);
}

.text-main {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
  margin-bottom: 48px;
  padding-top: 188px;
  margin: auto;
}


.main-text {

}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.card-set {
  display: flex;
  margin-right: 24px;
  gap: 10px;
  flex-basis: ((100% - 72px)/4);
 }
 

.text-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.text-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.names {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0,02em;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 72px;
}

.list-gadget {
  display: flex;
  justify-content: space-between;
  flex-basis: ((100% - 48px)/3);
}

.list-teams {
  display: flex;
  margin-bottom: 72px;
  justify-content: space-between;
  gap: 10px;
  flex-basis: ((100% - 72px)/4);
}

.names-backgr {
  background: var(--secondary-font-color);

}

.teams {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.paragraph-text {
 text-align: center;
 color: var(--main-color);
}


.filter-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
  color:var(--accent-color)
}

.filter-button {
font-family: inherit;
cursor: pointer;
background-color: var(--secondory-color);
padding: 12px 24px;
border-radius: 4px;
color: var(--accent-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04;

}
 .filter-button:is(:hover,:focus, .filter-current) {
  background-color: var(--hover-color);
  color: var(--secondary-font-color);
}

.button {
cursor: pointer;
font-family: inherit;
color:var(--secondary-font-color);
background-color:var(--accent-color);
margin-top: 48px;
margin-bottom: 188px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 32px;
padding-right: 32px;
align-items: center;

}

.button:is(:hover,:focus){
  background-color: var(--hover-color);
  color: var(--secondary-font-color);
}

.concept-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-color);
}

.projects {

}
.projects-text {
font-size: 16px;
line-height: 1.5;
color: var(--main-color);
}
.section-inverse {
  background-color: var(--secondory-color);
}

/*-------FOOTER--------*/

.footer-logo {
padding-top: 100px;
padding-bottom: 16px;
}


.footer-text {
color: var(--footer-text);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
margin-top: 16px;
margin-bottom: 100px;
}

.footer {
background-color: var(--primary-color);
padding-top: 100px;
padding-bottom: 100px;
}
